@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Covered+By+Your+Grace&family=Jacquard+12&family=Kalam:wght@300;400;700&family=Lobster&family=Micro+5&family=Silkscreen:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  /* min-width: 320px; */
  /* min-height: 100vh; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}
.gradient-button {
  border: 2px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-radius: 50%;
  border-image-source: linear-gradient(to right, #c91717, #002fff) !important;
  cursor: pointer;
  text-decoration: none;
}